spring:
  profiles:
    active: dev

---
spring:
  config:
    activate.on-profile: dev
  datasource:
    url: jdbc:h2:file:./data/devdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console.enabled: true
  jpa:
    hibernate.ddl-auto: update
    show-sql: true

---
spring:
  config:
    activate.on-profile: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate.ddl-auto: update
